<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>API Section</title>
</head>

<body>
    <div id="container">
        



        <a href="/">HOME</a><br><br>

        
	
    </div>


	
	
</body>



<style>
    h1 {
        justify-self: center;
        position: relative;
    }

    #container {
        background-color: rgb(183, 220, 243);
        border: 8px rgba(165, 42, 42, 0.785);
        border-style: ridge;
        height: 500px;
        width: 800px;
        justify-self: center;
        text-align: center;
        position: relative;
        font-size: 25px;
        align-content: center;
    }

    


</style>

</html>