<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Carson's Final</title>
</head>

<body>
    <div id="container">
        <h1>Carson's Final Project</h1><br><br>

        

	    <div id="dadJokes">

            Hello and Welcome!<br><br>

            

        </div>

        <a href="/api">Looking for a laugh? Click here to get a joke randomly generated.</a><br><br>

        <a href="/sendInAJoke">Want to send in a joke to be considered? Click here.</a><br><br>

        <a href="/deleteMyJokes">Regretting the jokes you submitted? Click here to delete your submissions.</a><br><br>

        <a href="/seeAllJokes">Want to see how funny my users are? Click here to see all submissions.</a><br><br>

        
	
    </div>

    
	
	
</body>



<style>
    h1 {
        justify-self: center;
        position: relative;
    }

    #container {
        background-color: rgb(183, 220, 243);
        border: 8px rgba(165, 42, 42, 0.785);
        border-style: ridge;
        height: 500px;
        width: 800px;
        justify-self: center;
        text-align: center;
        position: relative;
        font-size: 25px;
        align-content: center;
    }

    #dadJokes {
        font-size: 35px;
        color: cornsilk;
    }


</style>

</html>