<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Submission Complete</title>
</head>

<body>

    <div id="container">
    
	<h1>Submission Complete</h1>
    
    <p>
        <strong>Name: </strong> <%= name %><br>
        <strong>Joke Submitted: </strong> <%= joke %><br>
    </p>>
    
    <hr>

    <a href="/">HOME</a>
	
	
    </div>
	
</body>



<style>
    h1 {
        justify-self: center;
        position: relative;
    }

    #container {
        background-color: rgb(183, 220, 243);
        border: 8px rgba(165, 42, 42, 0.785);
        border-style: ridge;
        height: 500px;
        width: 800px;
        justify-self: center;
        text-align: center;
        position: relative;
        font-size: 25px;
        align-content: center;
    }



</style>

</html>